@model TravelBookApplication.Models.ViewModels.NewsFeedViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@Html.Partial("NewsFeedFormPartial", Model)
@Html.Partial("NewsFeedPartial", Model)
@*
    <!-- search modal-->
    <div class="modal fade" id="my-search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Search results</h4>
                </div>
                <div class="modal-body">
                    <section id="searchForm">
                        <div id="search-result-area">

                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /search modal-->
*@