@model TravelBookApplication.Models.ViewModels.FriendListViewModel

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="friendrequests-wrapper">
    @foreach (var friendRequest in Model.FriendRequests)
    {
        <div class="well friendlisting-item">
            <div class="user-display-section">
                <div id="user-picture-slot">
                    <img src=@Url.Content(Model.ImageDirectory + friendRequest.ProfileImageName) alt="profile image" />
                </div>
                <div class="user-name-section">
                    <h6>@Html.ActionLink(friendRequest.FullName, "UserWall", "Profile", new { id = friendRequest.Id }, new { })</h6>
                </div>
            </div>
            @if (Model.UserDisplayed.Id == Model.ProfileDisplayed.Id)
            {
                <div class="request-widgets">
                    <a href="#" class="friendlisting-widget accept-widget">Accept</a>
                    <a href="#" class="friendlisting-widget decline-widget">Decline</a>
                </div>
            }
        </div>
    }
</div>
<div class="friends-wrapper">
    @foreach (var friend in Model.Friends)
    {
        <div class="well friendlisting-item">
            <div class="user-display-section">
                <div id="user-picture-slot">
                    <img src=@Url.Content(Model.ImageDirectory + friend.ProfileImageName) alt="profile image" />
                </div>
                <div class="user-name-section">
                    <h6>@Html.ActionLink(friend.FullName, "UserWall", "Profile", new { id = friend.Id }, new { })</h6>
                </div>
            </div>
        </div>
    }
</div>