@model TravelBookApplication.Models.ViewModels.ImageListingViewModel

@{
    ViewBag.Title = @Model.ProfileDisplayed.FullName + "'s Images";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="userimages-wrapper well">
    <h2>@ViewBag.Title</h2>
    <hr />
    @if(Model.Images.Count != 0)
    {
        foreach(var images in Model.Images)
        {
            <div class="userimage-item">
                <div id="userimage-slot">
                    <img class="img-thumbnail" src=@Url.Content(Model.ImageDirectory + images.PhotoName) alt="user image" />
                </div>
            </div>
        }
    }
    else
    {
        <div class="blank-images"></div>
        <p>You have no images.</p>
    }
</div>

@Scripts.Render("~/Scripts/Images.js")
