@model TravelBookApplication.Models.ViewModels.FriendListViewModel

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@if (Model.UserDisplayed.Id == Model.ProfileDisplayed.Id)
{
    <div class="friendrequests-wrapper well">
        <h2>Friend Requests</h2>
        <hr />
        @if(Model.FriendRequests.Count != 0)
        {
            foreach (var friendRequest in Model.FriendRequests)
            {
                <div class="well friendlisting-item">
                    <div class="user-display-section item-listing-user-display-section">
                        <div class="user-picture-slot item-listin-picture">
                            <img src=@Url.Content(Model.ImageDirectory + friendRequest.ProfileImageName) alt="profile image" />
                        </div>
                        <div class="user-name-section item-listing-name">
                            <h6>@Html.ActionLink(friendRequest.FullName, "UserWall", "Profile", new { id = friendRequest.Id }, new { })</h6>
                        </div>
                    </div>
                    <div class="request-widgets">
                        <input type="hidden" value=@friendRequest.Id />
                        <a href="#" class="friendlisting-widget accept-widget">Accept</a>
                        <a href="#" class="friendlisting-widget decline-widget">Decline</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>You do not have any friend requests</p>   
        }

    </div>
}

<div class="friends-wrapper well">
    <h2>Friends</h2>
    <hr />
    @if(Model.Friends.Count != 0)
    {
        foreach (var friend in Model.Friends)
        {
            <div class="well friendlisting-item">
                <div class="user-display-section">
                    <div class="user-picture-slot">
                        <img src=@Url.Content(Model.ImageDirectory + friend.ProfileImageName) alt="profile image" />
                    </div>
                    <div class="user-name-section">
                        <h6>@Html.ActionLink(friend.FullName, "UserWall", "Profile", new { id = friend.Id }, new { })</h6>
                    </div>
                </div>
            </div>
        }   
    }
    else
    {
        <p>You have no friends :(</p>
    }
</div>