@model TravelBookApplication.Models.ViewModels.BaseViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div id="group-cover">
    <div id="group-header" class="well">
        <h1>@Model.GroupDisplayed.Name</h1>
        <hr />
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation">@Html.ActionLink("Wall", "GroupWall", "Group", new { id = Model.GroupDisplayed.Id }, new { })</li>
                <li role="presentation"><a href="#" class="disabled" >Images</a></li>
                <li role="presentation"><a href="#" class="disabled" >Stories</a></li>
                <li role="presentation">@Html.ActionLink("Members", "GroupMembers", "Group", new { id = Model.GroupDisplayed.Id }, new { })</li>
            </ul>
        </nav>
    </div>
    <div id="group-body">
        @RenderBody()
    </div>
</div>
