@model TravelBookApplication.Models.ViewModels.BaseViewModel

@{
    Layout = "_UserLayout.cshtml";
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>

<img src="http://images5.fanpop.com/image/photos/25600000/-Funny-Star-Wars-star-wars-comedy-25647403-540-405.jpg" alt="Asnaleg mynd" />