@model TravelBookApplication.Models.ViewModels.BaseViewModel

<div class="well news-feed-form">
    @using( Html.BeginForm("SubmitPost", "Content", FormMethod.Post) )
    {
        Html.HiddenFor(m => m.UserDisplayed.Id); @*Ids to add to the post when submited*@
        Html.HiddenFor(m => m.GroupDisplayed.ID);
        <div class="news-feed-form-header">
            <label for="post-image-input" class="btn btn-primary">Add an Image</label>
            <input type="file" id="post-image-input" accept="image/*" style="display:none"/>
        </div>
        <hr/>
        <div class="news-feed-form-body">
            <textarea id="post-text-area" placeholder="write what is on your mind..."></textarea>
        </div>
        <hr/>
        <div class="news-feed-form-footer">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>   
    }
</div>