@model TravelBookApplication.Models.Entities.UserContent

@*A Partial View that displays *@

<div class="news-item-wrapper">
    <div class="well news-item-display">
        <div class="owner-display-section">
            <div id="user-picture-slot">
            </div>
            <div class="user-name-section">
                <h4>@Html.ActionLink(Model.Owner.UserName, "Index", "Home")</h4>
            </div>
        </div>
        <hr/>
        <div class="item-display">
            @if(Model.PostConent != null || Model.PhotoName != null)
            {
                if(Model.PostConent != null)
                {
                    <div class="post-text">
                        <p>@Model.PostConent</p>
                    </div>
                
                    if(Model.PhotoName != null)
                    {
                        <hr/>
                    } 
                }
                if(Model.PhotoName != null)
                {
                    <p>Rendering Picture</p>
                }    
            }
            else if(Model.StoryTitle != null && Model.StoryName != null)
            {
                <p>Rendering Story</p>    
            }
            
        </div>
        <div class="user-widget-display">
        </div>
    </div>
    <div class="comment-section">
        <div class="user-comment-form">
            <!--User Comment Form
                Includes an image of user
                and a text area for user input-->
        </div>
        <div class="comment-display">
            <!--Comment item go here
                where each comment item has
                an image of the user and a link
                to his profile which displays his name followed
                by the comment of the user-->
        </div>
    </div>
</div>

