@model TravelBookApplication.Models.ViewModels.NewsFeedViewModel

@foreach( var item in Model.Content)
{
    <div class="news-item-wrapper">
        <div class="well news-item-display">
            <div class="owner-display-section">
                <div id="user-picture-slot">
                    <img src=@Url.Content(Model.ImageDirectory + item.Owner.ProfileImageName) alt="profile image" />
                </div>
                <div class="user-name-section">
                    <h4>@Html.ActionLink(item.Owner.FullName, "Index", "Home")</h4>
                </div>
            </div>
            <hr/>
            <div class="item-display">
                @if(item.PostContent != null || item.PhotoName != null)
                {
                    if(item.PostContent != null)
                    {
                        <div class="post-text">
                            <p>@item.PostContent</p>
                        </div>
                
                        if(item.PhotoName != null)
                        {
                            <hr/>
                        } 
                    }
                    if(item.PhotoName != null)
                    {
                        <img src=@Url.Content(Model.ImageDirectory + item.PhotoName) alt="content image" class="img-thumbnail"/>
                    }    
                }
                else if(item.StoryTitle != null && item.StoryName != null)
                {
                    <p>Rendering Story</p>    
                }
            
            </div>
            <div class="user-widget-display">
            </div>
        </div>
        <div class="comment-section">
            <div class="user-comment-form">
                <!--User Comment Form
                    Includes an image of user
                    and a text area for user input-->
            </div>
            <div class="comment-display">
                <!--Comment item go here
                    where each comment item has
                    an image of the user and a link
                    to his profile which displays his name followed
                    by the comment of the user-->
            </div>
        </div>
    </div>
}
