@model TravelBookApplication.Models.ViewModels.BaseViewModel

<div class="well news-feed-form">
    @using (Html.BeginForm("SubmitPost", "Content", FormMethod.Post, new { enctype = "multipart/form-data" } ) )
    {
        @Html.HiddenFor(m => m.UserDisplayed.Id, new { @id = "user-id", @Name = "user-id" }) @*Ids to add to the post when submited*@
        @Html.HiddenFor(m => m.ProfileDisplayed.Id, new { @id = "profile-id", @Name = "profile-id" })
        @Html.HiddenFor(m => m.GroupDisplayed.ID, new { @id = "group-id", @Name = "group-id" })
        
        <div class="news-feed-form-header">
            <label for="post-image-input" class="btn btn-primary">Add an Image</label>
            <input type="file" id="post-image-input" name="uploadimage" accept="image/*" style="display:none" />
            <span class="file-name-section"></span>
            <button id="file-clear" type="button" class="close hidden"><span aria-hidden="true">&times;</span></button>
            <div id="file-input-error"></div>
        </div>
        <hr/>
        <div class="news-feed-form-body">
            <textarea id="post-text-area" class="form-control" name="post-text-area" placeholder="write what is on your mind..."></textarea>
        </div>
        <hr/>
        <div class="news-feed-form-footer">
            <button id="post-button" type="submit" class="btn btn-primary">Post</button>
        </div>   
    }
</div>

<div class="well news-item-wrapper hidden">
    <div class="news-item-display">
        <div class="owner-display-section">
            <div class="user-picture-slot">
                <img alt="profile image" />
            </div>
            <div class="user-name-section">
                <h4></h4>
            </div>
        </div>
        <hr />
        <div class="item-display">
            <div class="post-text">
                <p></p>
            </div>
            <hr />
            <img alt="content image" class="img-thumbnail" />
        </div>
        <div class="user-widget-display">
            <hr />
            <div class="left-widgets">
                <button class="news-item-widget btn btn-primary">Like</button>
                <span class="number-of-likes"></span>
            </div>
            <div class="right-widgets">
                <a href="#" class="news-item-widget comment-link">Comment</a>
                <a href="#" class="news-item-widget share-link">Share</a>
            </div>
        </div>
    </div>
    <hr />
    <div class="well comment-section hidden">
        <div class="commenter-display-section">
            <div class="user-picture-slot">
                <img alt="profile image" />
            </div>
            <div class="comment-form">
                @using (Html.BeginForm())
                {
                    <input type="text" class="form-control form-inline" />
                }
            </div>
        </div>
        <div class="comment-display">
        </div>
    </div>
</div>