body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.main-content{
    margin-left: 200px;
    padding-right: 50px;
    padding-left:50px;
}

.profile-name-section{
    text-align:center;
}

.sidebar{
    float:left;
    position:fixed;
}

.sidebar, .main-content{
    margin-top: 20px;
}

.sidebar, #side-nav{
    width: 200px;
}

.sidebar .nav-pills a
{
    padding:0px;
}

#profile-picture-container {
    height: 270px;
}

#profile-picture-slot {
    background-color: #F00;
    height: 180px;
    width: 180px;
    margin: 0px auto;
}

#side-nav hr {
    margin: 0px;
}

.user-picture-slot {
    width: 50px;
    /*height: 50px;*/
    background-color: #F00;
    float: left;
    margin-right: 14px;
}

.user-picture-slot > img {
    width: 100%;
    position: relative;
}

.user-name-section > h6 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.user-name-section {
    height: 50px;
}

#user-picture-container{
    margin-bottom: 25px;
}

.news-item-wrapper hr {
    margin: 5px 0px;
}

.news-item-display {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

#profile-picture-slot > img {
    width: 100%;
}
#post-text-area {
    width: 100% !important;
    height: 100% !important;
    max-width : 100%;
    max-height: 100%;
    min-height: 100px;
}

.news-feed-form, .news-item-wrapper {
    width: 700px;
    margin: auto;
}

.news-feed-form hr {
    margin: 10px;
}

.item-display img {
    width: 100%;
}

#user-picture-slot, .commenter-display-section {
    height: 50px;
}

.comment-form {
    margin-left: 50px;
}

.comment-form .form-control {
    width: 80% !important;
    min-width: 88%;
}
.comment-section {
    position: relative;
    width: 80%;
    margin: auto;
}

.user-widget-display {
    height: 35px;
}

.left-widgets {
    float: left;
}

.right-widgets {
    float: right;
}

.comment-link, .left-widgets .btn {
    margin-right: 20px;
}

.friendlisting-item {
    padding: 10px;
    display: inline-block;
    width: 250px;
}

.request-widgets {
    margin: 0px auto;
    width: 110px;
}

.accept-widget{
    float: left;
}

.decline-widget{
    float: right;
}

.spacer{
    height:200px;
}

#my-search-modal .modal-body {
    max-height: 400px;
    overflow: auto;
}

.userimage-item {
    padding:10px;
    display: inline-block;
}

#userimage-slot img {
    max-height : 200px;
    max-width: 200px;
}